@import "tailwindcss";

@font-face {
  font-family: JejuRegular;
  src: url("./assets/fonts/JejuMyeongjo-Regular.ttf");
}
@font-face {
  font-family: RoadRageRegular;
  src: url("./assets/fonts/RoadRage-Regular.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoSemiBold;
  src: url("./assets/fonts/Roboto-SemiBold.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
@theme {
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-tertiary: #0e464f;
  --color-primary: #02191d;
  --color-blue: #24a0b5;
  --color-secondary: #197686;
  --color-active: #197686;
  --color-gray: #b3b3b3;
  --font-jejuRegular: JejuRegular;
  --font-roadrageRegular: RoadRageRegular;
  --font-robotoRegular: RobotoRegular;
  --font-robotoSemiBold: RobotoSemiBold;
  --font-robotoBold: RobotoBold;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #052228 inset !important;
  -webkit-text-fill-color: white !important;
}
:root {
  --color-dark: rgb(64, 64, 64);
}

@supports (color: oklch(0% 0 0)) {
  :root {
    --color-dark: oklch(37.15% 0 0);
  }
}
.bg-radial {
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #02191d;
}
.bg-radialCard {
  background: radial-gradient(
      103.64% 57.39% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    )
    rgba(10, 12, 17, 0.1);
  backdrop-filter: blur(7px);
}

.bg-ticketgradient {
  background: linear-gradient(0deg, #072c31, #072c31),
    radial-gradient(
      50% 13.92% at 50% 0%,
      rgba(36, 160, 181, 0.5) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    radial-gradient(
      50% 36.17% at 50% 103.25%,
      rgba(36, 160, 181, 0.5) 0%,
      rgba(36, 160, 181, 0) 100%
    );
}
.ticket-container {
  background: rgba(3, 30, 33, 0.1);
  border: 1px solid #24a0b5;
  backdrop-filter: blur(2px);
  border-radius: 16px;
}
